# Tạo secret mạnh (64 ký tự)
AUTH_SECRET= OKHUB_SECRET
NEXTAUTH_URL= http://shop.ziohair.local:3000/
NEXT_PUBLIC_ROBOTS = FALSE

NEXT_PUBLIC_LANDING_HOST_NAME = ziohair
NEXT_PUBLIC_STORE_HOST_NAME = shop.ziohair
NEXT_PUBLIC_BOOKING_HOST_NAME = booking.ziohair

NEXT_PUBLIC_CMS_HOST_NAME = https://cms.ziohair.okhub-tech.com
NEXT_PUBLIC_CMS = https://cms.ziohair.okhub-tech.com/wp-json
NEXT_PUBLIC_API = /api/v1/
NEXT_PUBLIC_AMB_API = /abm/v1
NEXT_PUBLIC_LANDING_DOMAIN = http://ziohair.local:3000
NEXT_PUBLIC_STORE_DOMAIN = http://shop.ziohair.local:3000
NEXT_PUBLIC_BOOKING_DOMAIN = http://booking.ziohair.local:3000
NEXT_PUBLIC_API_CF7 = https://cms.ziohair.okhub-tech.com/wp-json/contact-form-7/v1/contact-forms