# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=your_secure_root_password_here
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=your_secure_wp_password_here

# WordPress Database Configuration
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=your_secure_wp_password_here

# Domain Configuration
NEXTJS_DOMAINS=domain1.com domain2.com domain3.com
PRIMARY_DOMAIN=domain1.com
CMS_DOMAIN=cms.domain1.com

# Email for SSL certificates
SSL_EMAIL=your@email.com

# WordPress Backup Configuration
WORDPRESS_BACKUP_URL=https://example.com/backup.wpress

# NextJS Repo Configuration
NEXTJS_REPO=git@github.com:proxuthanh99yd/ziohair-final.git

# Project Configuration
PROJECT_NAME=wp-next-ci-cd
SSH_USER=ubuntu

# NextJS Environment Variables
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=https://sanpham.ziohair.vn/
NEXT_PUBLIC_ROBOTS=FALSE

NEXT_PUBLIC_CMS=http://cms.ziohair.vn/wp-json
NEXT_PUBLIC_API=/api/v1/
NEXT_PUBLIC_AMB_API=/abm/v1
NEXT_PUBLIC_DOMAIN=https://ziohair.vn
NEXT_PUBLIC_LANDING_DOMAIN=https://ziohair.vn
NEXT_PUBLIC_STORE_DOMAIN=https://sanpham.ziohair.vn
NEXT_PUBLIC_BOOKING_DOMAIN=https://booking.ziohair.vn
NEXT_PUBLIC_LANDING_HOST_NAME=ziohair.vn
NEXT_PUBLIC_STORE_HOST_NAME=sanpham.ziohair.vn
NEXT_PUBLIC_BOOKING_HOST_NAME=booking.ziohair.vn
NEXT_PUBLIC_CMS_HOST_NAME=cms.ziohair.vn
NEXT_PUBLIC_API_CF7= http://cms.ziohair.vn/wp-json/contact-form-7/v1/contact-forms